.slick-track {
  display: flex;
  min-width: 0;
}

// Кастомные стрелки
.slick-slider .slick-arrow {
  position: absolute;
  top: 50%; // выравнивание по вертикали
  transform: translateY(-50%);
  margin: -15px 0 0 0; // корректировка  вертикального выравнивания
  z-index: 2; // стрелки сверху картинок
  font-size: 0; // убираем надпись на дефолтной стрелке
  width: 30px; // ширина стрелки
  height: 30px; // высота стрелки
  cursor: pointer;

  background-color: $color-white;
  border-radius: 50%;
}
.slick-prev,
.slick-next {
  &::before {
    content: url("data:image/svg+xml,%3Csvg width='27' height='59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 57.0015L3 29.5015L25 2.00146' stroke='%237966FE' stroke-width='6'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0;
    transform: scale(0.3);
    transition: color 0.3s ease;
  }
}
.slick-prev {
  &::before {
    left: 2%;
    top: -48%;
  }
}
.slick-next {
  &::before {
    left: 9%;
    top: -48%;
    transform: scale(0.3) rotate(180deg);
  }
}

// .slick-disabled {
//     cursor: default !important;
//     filter: grayscale(100%) opacity(25%);
// }

.project-promo {
  & .slick-slider .slick-arrow {
    transform: translateY(-5px);
  }

  & .slick-prev.slick-arrow {
    transform: translateX(50px);
  }

  & .slick-next.slick-arrow {
    transform: translateX(-50px);
  }
}

.project-description {
  & .slick-slider .slick-arrow {
    transform: translateY(-5px);
  }

  & .slick-prev.slick-arrow {
    transform: translateX(50px);
  }

  & .slick-next.slick-arrow {
    transform: translateX(-50px);
  }
}

.moreprojects {
  & .slick-slider .slick-arrow {
    transform: translateY(-5px);
  }

  & .slick-prev.slick-arrow {
    transform: translateX(50px);
  }

  & .slick-next.slick-arrow {
    transform: translateX(-50px);
  }
}
