.header {
    position: fixed;
    top: 0;
    z-index: 5000;

    width: 100%;
    padding-bottom: 58px;
}

.header__logo {
    display: inline-block;
    position: relative;
    z-index: 10000;

    img {
        display: block;
        width: 91px;
        height: auto;
        background-color: $color-blue;

        @media (min-width: $tablet) {
            width: 135px;
        }
        @media (min-width: $desktop) {
            width: 180px;
        }
    }
}


.header__burger {
    width: 36px;
    height: 26px;
    outline: none;
    background-color: transparent;
    border: none;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    top: 12px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 6001;
    

    @media(min-width: $laptop) {
        display: none;
    }

    & span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $color-white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        @media (min-width: $tablet) {
            height: 5px;
        }

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2), &:nth-child(3) {
            top: 10px;
        }

        &:nth-child(4) {
            top: 20px;
        }
    }

    &.open {
        & + .header__nav {
            clip-path: ellipse(50vw 200vh at 66% 0%);

            @media(min-width: $tablet) {
                width: 50vw;
            }
            
            // @media(min-width: $laptop) {
            //     clip-path: none;
            //     width: auto;
            // }

            .header__list {
                width: 100%;
            }

            .header__item {
                &:hover {
                    background-color: transparentize($color-violet, 0.8);
                    filter: brightness(1.5);
                }
            }
        }

        &::before {
            border-radius: 0;
            top: -20px;
            right: -20px;
            height: 100vh;
            width: 65vw;

            @media(min-width: $tablet) {
                width: 50vw;
            }
        }
    }

    &.open span:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
    }

    &.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    &.open span:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
    }
}

.header__nav {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 6000;
    width: 65vw;
    height: 100vh;
    transition: clip-path .4s ease;
    background-color: $color-violet;

    clip-path: ellipse(116px 80px at 101% -1%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $tablet) {
        width: 50vw;
    }

    @media (min-width: $laptop) {
        top: -20px;

        background-color: transparentize($color-black, .5);
        clip-path: none;
        height: auto;
        margin-right: 30px;

        background: transparentize($color-white, 0.5);
        box-shadow: 8px 8px 11px 2px transparentize($color-black, .85), inset 0px 4px 4px transparentize($color-black, .7);
        backdrop-filter: blur(8px);
        border-radius: 12px;
        width: auto;
        padding: 0 20px;
    }

    @media (min-width: $desktop) {
        margin-right: 60px;
    }

    // &::after {
    //     content: "";
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: transparentize($color-black, .5);

    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     z-index: 4000;

    // }

}

.header__list {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;

    @media (min-width: $laptop) {
        flex-direction: row;
        margin-top: 0;
        justify-content: space-between;
    }
}

.header__item {
    margin-right: 0;
    padding: 20px 20px;
    text-align: right;
    position: relative;
    width: 100%;
    border-top: 1px solid $color-white;

    @media(min-width: $laptop) {
        border: none;
        padding: 40px 20px 20px 20px;
        width: auto;
    }

    a {
        color: $color-white;
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        text-align: right;

        @media(min-width: $laptop) {
            white-space: nowrap;
            color: transparentize($color-black, .46);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 2px;
                width: 0;
                transition: width 0.3s ease;
                background-color: transparentize($color-black, .5);
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    &:last-of-type {
        border-bottom: 1px solid $color-white;

        @media(min-width: $laptop) {
            border: none;
        }
    }
}

.header__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    margin: 0 20px 20px 0;


    @media(min-width: $laptop) {
        display: none;
    }

    a {
        display: block;

        &:not(:last-child) {
            margin-right: 10px;
        }        
    }

    img {
        display: block;
        width: 30px;
        height: 30px;
    }
}

.header__overlay {
    // display: none;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5999;
    left: 0;top: 0;right: 0;bottom: 0;
    background-color: transparentize($color-black, .5);
    backdrop-filter: blur(5px);

    transition: opacity .3s ease, visibility .3s ease;

    &.open {
        visibility: visible;
        opacity: 1;
    }
}