section.panoram
    h2.visually-hidden Общая информация о видах деятельности
    .panoram__image

    ol.panoram__titles
        li.panoram__title.container
            |
            |
            span Видеоролики <br> и графический дизайн

        li.panoram__title.container
            |
            |
            span Интерактивное оборудование

        li.panoram__title.container
            |
            |
            span Софт, сайты, приложения и контент
