section.trust.container
    h2.visually-hidden 
        span Почему нам доверяют



    p Почему нам можно доверять?
    p При выполнении проекта мы берем на себя всю ответственность, поэтому за время работы накопили много положительных отзывов.    

    section.reviews
        h3 
            span Отзывы

        ul
            li 
                img(src="@img/images/test-picture_100.jpg" alt="picture" width="80" height="80")
                p Иванова Оксана Евгеньевна
                p генеральный директор
                p Учитывая ключевые сценарии поведения, повышение уровня гражданского сознания, в своём классическом представлении, допускает внедрение вывода текущих активов. Как уже неоднократно упомянуто, многие известные личности будут призваны к ответу.
                a(href="#")
                    span Проект 1

            li 
                img(src="@img/images/test-picture_101.jpg" alt="picture" width="80" height="80")
                p Усс Александр Викторович
                p губернатор
                p Прежде всего, выбранный нами инновационный путь требует анализа поэтапного и последовательного развития общества. А также предприниматели в сети интернет, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут разоблачены.
                a(href="#")
                    span Проект 2

            li 
                img(src="@img/images/test-picture_102.jpg" alt="picture" width="80" height="80")
                p Ладыженко Сергей Николаевич
                p генеральный директор
                p В рамках спецификации современных стандартов, активно развивающиеся страны третьего мира, инициированные исключительно синтетически, объединены в целые кластеры себе подобных. Каждый из нас понимает очевидную вещь: убеждённость некоторых оппонентов создаёт предпосылки для как самодостаточных, так и внешне зависимых концептуальных решений.
                a(href="#")
                    span Проект 3
            
            li 
                img(src="@img/images/test-picture_103.jpg" alt="picture" width="80" height="80")
                p Ноунейм Вячеслав Никифорович
                p бизнесмен
                p Вот вам яркий пример современных тенденций — сложившаяся структура организации требует определения и уточнения системы массового участия. Имеется спорная точка зрения, гласящая примерно следующее: интерактивные прототипы объективно рассмотрены соответствующими инстанциями. Как уже неоднократно упомянуто, непосредственные участники технического прогресса будут описаны максимально подробно.
                a(href="#")
                    span Проект 4
            
            li 
                img(src="@img/images/test-picture_104.jpg" alt="picture" width="80" height="80")
                p Джон Доу
                p бродяга
                p Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Приятно, граждане, наблюдать, как реплицированные с зарубежных источников, современные исследования, вне зависимости от их уровня
                a(href="#")
                    span Проект 5
            
            li 
                img(src="@img/images/test-picture_105.jpg" alt="picture" width="80" height="80")
                p Маск Илон Геннадьевич
                p миллиардер
                p А ещё явные признаки победы институционализации, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
                a(href="#")
                    span Проект 6
        
        button
            span Все отзывы