// Другие проекты
section.moreprojects.container 
    h2 Еще проекты:

    .moreprojects__wrapper
        .moreprojects__sliderlist
            .moreprojects__slideritem
                a(href="#")
                    img(src="@img/images/test-picture_009.jpg", alt="" width="257" height="155")
                    span Проект Лето

            .moreprojects__slideritem
                a(href="#")
                    img(src="@img/images/test-picture_008.jpg", alt="" width="257" height="155")
                    span Проект Осень

            .moreprojects__slideritem
                a(href="#")
                    img(src="@img/images/test-picture_007.jpg", alt="" width="257" height="155")
                    span Проект Весна

            .moreprojects__slideritem
                a(href="#")
                    img(src="@img/images/test-picture_006.jpg", alt="" width="257" height="155")
                    span Проект Зима