footer.footer.container
    h2.visually-hidden Информация о нашей компании и обратная связь

    a(href="#").footer__logo
        img(src="@img/icons/icon_iteo-white.svg" alt="footer logo" width="70" height="34")
        span интерактивные <br> решения под ключ 

    .footer__items
        .footer__item.footer__item-feedback
            h3.footer__title Свяжитесь с нами

            .footer__list.footer__list-feedback
                a(href="#" target="_blank").footer__phone 8 (913) 839-69-09
                a(href="#" target="_blank").footer__email info@iteo.pro <br>
                    span.footer__subtitle email
                address.footer__address г. Красноярск,<br>ул. Красной армии 10,<br>к. 3, оф. 503. <br>
                    span.footer__subtitle адрес

        .footer__item.footer__about
            h3.footer__title О нас

            .footer__list.footer__list-about
                a(href="#").footer__link Портфолио
                a(href="#").footer__link Офис
                a(href="#").footer__link Вакансии
                a(href="#").footer__link Приватность

        .footer__item.footer__services
            h3.footer__title Услуги

            .footer__list.footer__list-services
                a(href="#").footer__link Веб-сервисы
                a(href="#").footer__link Сайты
                a(href="#").footer__link Видеоролики
                a(href="#").footer__link Графический дизайн
                a(href="#").footer__link Оборудование
                a(href="#").footer__link Сопровождение
                a(href="#").footer__link Приложения
                a(href="#").footer__link Софт и контент

        .footer__item.footer__social
            h3.footer__title Наши соцсети

            .footer__list.footer__list-social
                a(href="#")
                    img(src="@img/icons/icon_vk.svg" alt="icon-vkontakte" width="30" height="30")
                a(href="#")
                    img(src="@img/icons/icon_facebook.svg" alt="icon-facebook" width="30" height="30")
                a(href="#")
                    img(src="@img/icons/icon_telegram.svg" alt="icon-telegram" width="30" height="30")
