header.header.container
    a.header__logo(href="index.html")
        img(src="@img/icons/icon_iteo-color.svg", alt="logo iteo", width="91", height="44")

    button.header__burger
        span.visually-hidden кнопка раскрытия меню

    nav.header__nav
        ul.header__list
            li.header__item
                |
                |
                a(href="#")
                    span аренда оборудования
            li.header__item
                |
                |
                a(href="#")
                    span разработка
            li.header__item
                |
                |
                a(href="#")
                    span видеоролики
            li.header__item
                |
                |
                a(href="#")
                    span сайты