header.header.container
    a(href="index.html")
        img(src="@img/icons/logo-iteo.svg", alt="logo iteo", width="180", height="85")

    nav
        ul
            li
                a(href="#")
                    span аренда оборудования
            li  
                a(href="#")
                    span разработка
            li
                a(href="#")
                    span видеоролики
            li
                a(href="#")
                    span сайты