.carousel
        .carousel__item
            |
            |
            img.carousel__img(src="../img/images/mask_group_1.jpg", alt="office" width="1919" height="873")


        .carousel__item
            |
            |
            img.carousel__img(src="../img/images/mask_group_2.jpg", alt="office" width="1919" height="873")


        .carousel__item
            |
            |
            img.carousel__img(src="../img/images/mask_group_3.jpg", alt="office" width="1919" height="873")