section.container.journal

    h1.visually-hidden Аренда оборудования

    .box-blur


    //- h1.visually-hidden Привет!

    //- img(src="@img/photo.jpg")
    //- span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae suscipit, ab mollitia aliquid officiis cupiditate sunt possimus vero autem exercitationem ullam sit nulla rerum nobis voluptatibus, minus facilis quaerat aspernatur.


    //- .text