// colors
$color-black: #000;
$color-white: #fff;
$color-blue: #00BBE6;
$color-lightblue: #A0BED9;
$color-violet: #7966FE;
$color-lightgray: #DBDBDB;

// fonts
$font-main: Roboto;

// viewports
$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;
