//- Подключаем файл с миксинами
include html/global/mixins
include html/global/variables

html
    include html/global/head    

    body
        //- include html/components/header

        main.index 

            h1.visually-hidden Сайт компании ИТЕО. Главная страница
            |
            |
            //- include html/components/1_panoram

            include html/components/3_projetcs


            //- include html/components/section-2

            //- include html/components/section-3

            //- include html/components/footer

        //- Скрипты
        include html/global/scripts-js