//- Подключаем файл с миксинами
include html/global/mixins
include html/global/variables

html
    include html/global/head    

    body
        include html/components/header

        main.index 

            include html/components/3_projetcs

            //- include html/components/4_reviews-parnters


            //- include html/components/section-test


        include html/components/footer

        //- Скрипты
        include html/global/scripts-js